<div class="filters">
    <label for="roomType">Тип кімнати:</label>
    <select id="roomType" #roomType>
        <option value="">Усі</option>
        <option *ngFor="let type of roomTypes" [value]="type">{{ type }}</option>
    </select>
    

    <label for="roomCapacity">Кількість спальних місць:</label>
    <input id="roomCapacity" type="number" min="1" #roomCapacity>

    <label for="priceRange">Ціна:</label>
    <input id="priceMax" type="number" placeholder="Максимум" min="0" #priceMax>

    <!-- Filter Button -->
    <button (click)="applyFilters(roomType, roomCapacity, priceMax)">Apply Filters</button>
</div>


  
<h1>Таблиця резервування готелю {{hotelId}}</h1>
<div class="table-container" (scroll)="onScroll($event)">
  <table>
    <thead>
      <tr>
        <th>Номер кімнати</th>
        <th>Тип</th>
        <th>Кількість місць</th>
        <th>Ціна</th>
        <th *ngFor="let day of days">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of getFilteredRooms()" [ngClass]="{ 'inactive': !isSelectedRoom(room.number) && selectedRoom !== null }">
        <td>{{ room.number }}</td>
        <td>{{ room.type }}</td>
        <td>{{ room.capacity }}</td>
        <td>{{ room.price }} грн</td>
        <td *ngFor="let day of days"
            [ngClass]="{ 'reserved': isRoomReserved(room.number, day), 'selected': selectedDates.includes(day), 'selectToDelete': isRoomReserved(room.number, day) === idDelete }"
            (click)="onSelectDate(isRoomReserved(room.number, day), day, room.number)" id="isRoomReserved(room.number, day)">
            {{ isRoomReserved(room.number, day) ? 'Зарезервовано ' : 'Доступно' }}
            {{ isRoomReserved(room.number, day) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
  
<div *ngIf="selectedRoom !== null && selectedDates.length > 0" class="booking-form">
    <h3>Бронювання для кімнати {{ selectedRoom }}</h3>
    <p>Вибрані дати: {{ selectedDates.join(', ') }}</p>
  
    <div class="form-group">
      <label for="userName">Ваше ім'я:</label>
      <input id="userName" [(ngModel)]="userName" type="text" placeholder="Введіть ім'я" />
    </div>
  
    <div class="form-group">
      <label for="userLastName">Ваше прізвище:</label>
      <input id="userLastName" [(ngModel)]="userLastName" type="text" placeholder="Введіть прізвище" />
    </div>
  
    <div class="form-group">
      <label for="userEmail">Email:</label>
      <input id="userEmail" [(ngModel)]="userEmail" type="email" placeholder="Email" />
    </div>
  
    <div class="form-group">
      <label for="userPhone">Телефон:</label>
      <input id="userPhone" [(ngModel)]="userPhone" type="tel" placeholder="Телефон" />
    </div>
  
    <div class="form-group">
      <label for="companyName">Ім'я компанії:</label>
      <input id="companyName" [(ngModel)]="companyName" type="text" placeholder="Ім'я компанії" />
    </div>
  
    <div class="form-group">
      <label for="companyEmail">Email компанії:</label>
      <input id="companyEmail" [(ngModel)]="companyEmail" type="email" placeholder="Email компанії" />
    </div>
  
    <div class="form-group">
      <label for="companyPhone">Телефон компанії:</label>
      <input id="companyPhone" [(ngModel)]="companyPhone" type="tel" placeholder="Телефон компанії" />
    </div>
  
    <button class="btn-book" (click)="bookRoom()">Забронювати</button>
</div>

<button class="btn-home">
    <a href="">На головну</a>
</button>
  
<div *ngIf="deleteBtn" class="booking-form">
    <div class="form-group">
    <label for="checkinDate">Check-in Date:</label>
    <input id="checkinDate" type="date" [(ngModel)]="bookingCheckinDate" />
    </div>

    <div class="form-group">
    <label for="checkoutDate">Check-out Date:</label>
    <input id="checkoutDate" type="date" [(ngModel)]="bookingCheckoutDate" />
    </div>
    <button class="btn-update" (click)="updateBooking()">Update Booking</button>
    <button class="btn-delete" (click)="deleteBooking()">Delete Booking</button>
</div>
  